<html>
<head>
	<title>More Songs</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="https://kit.fontawesome.com/d84320f6bb.js" crossorigin="anonymous"></script>
	<script src="https://cdn.socket.io/3.1.3/socket.io.min.js" integrity="sha384-cPwlPLvBTa3sKAgddT6krw0cJat7egBga3DJepJyrLl4Q9/5WLra3rrnMcyTyOnh" crossorigin="anonymous"></script>
	<link href="./css/main.css" rel="stylesheet">
 
</head>
<body>
<audio src="./music/come-alive.mp3" class="main-audio"></audio>
	<main>
		<nav>
			<ul class="stream-logos">
				<li>
					<a href="https://music.apple.com/ng/album/more-songs-from-my-bedroom/1572674145" target="new"><img src="./img/apple.png" alt="apple logo"/></a>
				</li>
				
				<li>
					<a href="https://open.spotify.com/album/7uEiO7R3IvQJjHPiNci682" target="new"><img src="./img/spotify.png" alt="spotify logo"/></a>
				</li>
				
				<li>
					<a href="https://soundcloud.com/raldieyoung/sets/msfmb"><img src="./img/soundcloud.png" alt="soundcloud logo"/></a>
				</li>
				
				<li>
					<a href="https://www.boomplay.com/albums/27104617" target="new"><img src="./img/boomplay.png" alt="boomplay logo"/></a>
				</li>
				
				<li>
					<a href="https://deezer.page.link/Lm7qY6Wk9EiNwbvE8" target="new"><img src="./img/deezer.png" alt="deezer logo"/></a>
				</li>
				
				<li>
					<img src="./img/audiomack.png"/>
				</li>
			</ul>


		</nav>
		
		<section class="panel-container">
			<aside class="music-area">
				<img src="./img/album.jpeg" alt="album art"/>
				<article class="song-display">
					
						<p ><i class="fas fa-music"></i><span class="current-song">Come Alive</span></p>
						
						<p><i class="fas fa-compact-disc"></i><span>More Songs From My Bedroom</span></p>
					
				</article>
				
	
			</aside>
			
			
			<aside class="chatting-area">
				<div class="message-box">
					
				</div>
				
				<input type="text" class="inputed-words" placeholder="type message here">
				
				<button class="send-btn">Send Message</button>
			
			</aside>
		</section>
		
		<section class="songs-control">
			<div class="songs-panel">
				<p class="the-tracks" data-track="come-alive">Come Alive</p>
				<p class="the-tracks" data-track="casper">0700-MCM-CASPER</p>
				<p class="the-tracks" data-track="ldr">LDR</p>
				<p class="the-tracks" data-track="this-ain't-luv">THISAINTLUV</p>
				<p class="the-tracks" data-track="nimh">NIMH</p>
				<p class="the-tracks" data-track="sos">SOS</p>
				<p class="the-tracks" data-track="beach">Beach</p>
				<p class="the-tracks" data-track="vn">VN</p>
				<p class="the-tracks" data-track="one-of">One of Those Days (For The Gram)</p>
			
			</div>
			
			<div class="playing-panel">
				<button class="play-button"><i class="fas fa-play"></i></button>
				<button class="pause-button"><i class="fas fa-pause"></i></button>
				<button class="stop-button"><i class="fas fa-stop"></i></button>
			</div>
		</section>


	</main>

<script>
	const socket=io('https://bedroom-stream.herokuapp.com/');
	let roomJoined;
	
	socket.on('connection');
	
	let presentName='Raldie';
	function jaja(){
		socket.emit('welcome',presentName);
	}
	jaja()
	
	const messageDisplay=document.querySelector('.message-box')
	const typedMessage=document.querySelector('.inputed-words')
	const sendBtn=document.querySelector('.send-btn')
	
	socket.on('display',(data)=>{
		<!-- document.querySelector('p').innerHTML=data; -->
	});
	
	
	//displays the welcome message
	socket.on('welcome',(msg,currentSong,theTrackName,playState,timer)=>{
		messageDisplay.innerHTML+=`<p>Hi ${presentName}. Welcome to your bedroom</p>`;
		joinedConvo=true;
		loginArea.classList.add('hide');
		
		//change the title of the track
		currentSongDisplay.innerText=currentSong;
		
		mainAudio.src=`./music/${theTrackName}.mp3`;
		console.log(playState);
		
		if(playState){
			mainAudio.currentTime=timer;
			mainAudio.play();
		}
		
	})

	
	//displays the welcome message
	socket.on('message',(msg)=>{
		messageDisplay.innerHTML+=`<p>${msg}</p>`;
		messageDisplay.scrollTo(0,messageDisplay.scrollHeight)
		
	})
	
	//display messages in the message box
	
	
	sendBtn.addEventListener('click',()=>{
		const words=typedMessage.value;
		
		if(!words)return;
		
		socket.emit('chatMessage',words,presentName);
		
		typedMessage.value="";
		typedMessage.focus();
		
	})
	
	typedMessage.addEventListener('keydown',(e)=>{
		
		if(e.keyCode===13){
			sendBtn.click();
		}
	})
	

	
	

	//PLAY SONGS
	const allTracks=document.querySelectorAll('.the-tracks');
	const currentSongDisplay=document.querySelector('.current-song');
	let startedPlaying=false;
	
	allTracks.forEach((track)=>{
		track.addEventListener('click',(e)=>{
			
			let trackName= e.currentTarget.dataset.track;
			let innerName= e.currentTarget.innerText;
			console.log(trackName);
			
			socket.emit('trackPlay',trackName,innerName)
		})
	})
	
	socket.on('trackPlay',(trackName,innerName)=>{
		mainAudio.src=`./music/${trackName}.mp3`;
		mainAudio.play();
		
		//change icon to pause
		<!-- playBtn.firstElementChild.className='fas fa-pause'; -->
		
		//change the title of the track
		currentSongDisplay.innerText=innerName
	})

	
	const connectSound=()=>{
		const room=document.querySelector('.room').value;
		socket.emit('soundOn','',room)
	}
	
	
	
	//PLAY/STOP SOUND
	const playBtn=document.querySelector('.play-button');
	const pauseBtn=document.querySelector('.pause-button');
	const stopBtn=document.querySelector('.stop-button');
	
	playBtn.addEventListener('click',()=>{
		socket.emit('playOn');
	})
	
	pauseBtn.addEventListener('click',()=>{
		socket.emit('pauseOn')
	})
	
	socket.on('soundOn',(playState)=>{
		togglePlay(playState)
		console.log(playState)
	})
	
	stopBtn.addEventListener('click',()=>{
		socket.emit('stopAudio')
	})
	
	socket.on('stopAudio',()=>{
		mainAudio.pause();
		mainAudio.currentTime=0;
		playBtn.firstElementChild.className='fas fa-play';
	})
	
	const mainAudio=document.querySelector('.main-audio');
	
	function togglePlay(playState){
			if(playState){
				<!-- playBtn.firstElementChild.className='fas fa-pause'; -->
				mainAudio.currentTime=timer;
				mainAudio.play()
				
			}else{
				<!-- playBtn.firstElementChild.className='fas fa-play'; -->
				mainAudio.pause()
			
			}
	
	}
	
	//track the timing of songs
	let timeTracker=setInterval(()=>{
		const timer=mainAudio.currentTime;
		socket.emit('tracker',timer)
		
		//when song stops
		<!-- if(mainAudio.ended){ -->
			<!-- playBtn.firstElementChild.className='fas fa-play'; -->
		<!-- } -->
	},1000)
	
	
</script>
</body>
</html>