<html>
<head>
	<title>Learning Socket</title>
	<script src="https://kit.fontawesome.com/d84320f6bb.js" crossorigin="anonymous"></script>
	<script src="https://cdn.socket.io/3.1.3/socket.io.min.js" integrity="sha384-cPwlPLvBTa3sKAgddT6krw0cJat7egBga3DJepJyrLl4Q9/5WLra3rrnMcyTyOnh" crossorigin="anonymous"></script>
	<link href="./css/main.css" rel="stylesheet">
 
</head>
<body>
<audio src="./darklust.mp3" class="main-audio"></audio>
	<main>
		<nav>
			<ul>
				<li>
					<img/>
				</li>
				
				<li>
					<img/>
				</li>
				
				<li>
					<img/>
				</li>
				
				<li>
					<img/>
				</li>
			</ul>


		</nav>
		
		<section class="panel-container">
			<aside class="music-area">
				<img src="./img/album.jpeg" alt="album art"/>
				<article class="song-display">
					
						<p><i class="fas fa-music"></i><span>Come Alive</span></p>
						
						<p><i class="fas fa-compact-disc"></i><span>More Songs From My Bedroom</span></p>
					
				</article>
				
	
			</aside>
			
			
			<aside class="chatting-area">
				<div class="message-box">
					
				</div>
				
				<input type="text" class="inputed-words" placeholder="type message here">
				
				<button class="send-btn">Send Message</button>
			
			</aside>
		</section>
		
		<section class="songs-control">
			<div>
			
			</div>
			
			<div></div>
		</section>


	</main>

<script>
	const socket=io('http://localhost:3000/');
	let roomJoined;
	
	socket.on('connection');
	function jaja(){
		socket.emit('display')
	}
	jaja()
	
	const messageDisplay=document.querySelector('.message-box')
	const typedMessage=document.querySelector('.inputed-words')
	const sendBtn=document.querySelector('.send-btn')
	
	socket.on('display',(data)=>{
		<!-- document.querySelector('p').innerHTML=data; -->
	});

	
	//displays the welcome message
	socket.on('message',(msg)=>{
		messageDisplay.innerHTML+=`<p>${msg}</p>`;
		messageDisplay.scrollTo(0,messageDisplay.scrollHeight)
		typedMessage.value="";
		typedMessage.focus();
	})
	
	//display messages in the message box
	sendBtn.addEventListener('click',()=>{
		const words=typedMessage.value;
		
		socket.emit('chatMessage',words);
		
	})
	
	typedMessage.addEventListener('keydown',(e)=>{
		
		if(e.keyCode===13){
			sendBtn.click();
		}
	})
	

	socket.on('soundOn',()=>{
		togglePlay()
	})
	

	

	
	const connectSound=()=>{
		const room=document.querySelector('.room').value;
		socket.emit('soundOn','',room)
	}
	

	
	
	const mainAudio=document.querySelector('.main-audio');
	playState=false
	function togglePlay(){
			if(!playState){
			mainAudio.play()
			playState=!playState
			}else{
				mainAudio.pause()
			playState=!playState
			}
	
	}
	
	
</script>
</body>
</html>