<html>
<head>
	<title>Learning Socket</title>
	<script src="https://cdn.socket.io/3.1.3/socket.io.min.js" integrity="sha384-cPwlPLvBTa3sKAgddT6krw0cJat7egBga3DJepJyrLl4Q9/5WLra3rrnMcyTyOnh" crossorigin="anonymous"></script>

</head>
<body>
<audio src="./darklust.mp3" class="main-audio"></audio>
<p>Hi there</p>
<input type="text" class="message"/>
<input type="text" class="room"/>
<button onclick="sendMessage()">Send Message</button>

<div style="height: 300px; background:blue"></div>
<button onclick="changeColor()">switch color</button>
<br>
<br>
<br>
<button onClick="togglePlay()">play song</button>
<br>
<br>
<br>
<!-- <button onClick="connectSound()">Another person</button> -->


<script>
	const socket=io('http://localhost:3000');
	
	socket.on('connection');
	function jaja(){
		socket.emit('display')
	}
	jaja()
	
	socket.on('display',(data)=>{
		document.querySelector('p').innerHTML=data;
	});
	
	socket.on('message',(data)=>{
	console.log(data)
		document.querySelector('p').innerHTML=data;
		//document.querySelector('div').style.backgroundColor="yellow";
	})
	
	socket.on('coloring',()=>{
	//console.log('happy')
		document.querySelector('div').style.backgroundColor="yellow";
		document.querySelector('p').innerHTML="switched";
	})
	
	socket.on('soundOn',()=>{
		togglePlay()
	})
	
	const sendMessage=()=>{
		const theWord=document.querySelector('.message').value;
		
		socket.emit('message',theWord)
	}
	
	const changeColor=()=>{
		const room=document.querySelector('.room').value;
		socket.emit('coloring','',room)
	}
	
	const connectSound=()=>{
		const room=document.querySelector('.room').value;
		socket.emit('soundOn','',room)
	}
	
	
	const mainAudio=document.querySelector('.main-audio');
	playState=false
	function togglePlay(){
			if(!playState){
			mainAudio.play()
			playState=!playState
			}else{
				mainAudio.pause()
			playState=!playState
			}
	
	}
	
	
</script>
</body>
</html>