*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}

body{
	background:black;
	font-family: Helvetica, sans-serif;
}

nav{
	height: 10vh;
	width:100%;
	background:black;
	border-bottom: 0.5px solid lightgrey;
}

.stream-logos{
	list-style:none;
	width:100%;
	display:flex;
	justify-content: space-around;
	align-items:center;
	padding-top: 4px;
}

.panel-container{
	height: 85vh;
	width:95%;
	margin: 0px auto;
	/* background:pink; */
	display:grid;
	grid-template-columns: 1fr 1fr;
	/* margin-top: 20px; */
}

.music-area{
	/* background:red; */
	height:100%;
	width: 100%;
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
}

.music-area>img{
	height: 300px;
	border-radius:10px;
}

.song-display{
	height: 100px;
	width: 60%;
	margin-top: 35px;
	background: black;
	color:white;
	border: 2px solid white;
	border-radius: 15px;
	padding: 20px;
	display:flex;
	flex-direction:column;
	justify-content:space-around;
}

.song-display>p>i{
	margin-right: 10px;
}

.chatting-area{
	height:100%;
	width: 100%;
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items: center;
}

.message-box{
	width: 100%;
	height: 300px;
	background:white;
	border-radius:10px;
	overflow:auto;
}

.message-box>p{
	background: blue;
	color:white;
	width:95%;
	font-size: 18px;
	padding: 5px;
	margin: 10px auto 10px auto;
	border-radius: 5px;
	word-break: break-all;
}

.inputed-words{
	height: 40px;
	width: 100%;
	border-radius: 48px;
	border:none;
	margin-top: 40px;
	padding: 0 20px;
	outline:transparent;
}

.chatting-area button{
	height: 35px;
	width: 150px;
	color:white;
	background:transparent;
	border:1px solid white;
	border-radius:10px;
	margin-top: 10px;
}

.songs-control{
	width:100%;
	min-height: 60vh;
	/* background:coral; */
	display:grid;
	grid-template-columns: 1fr 1fr;
}

.songs-panel{
	height:100%;
	width: 100%;
	color:white;
	padding: 30px;
	background: black;
}

.songs-panel>p{
	font-size: 18px;
	border-bottom: 1px solid white;
	padding:10px 0px;
	cursor:pointer;
}

.playing-panel{
	margin-top:20px;
	padding: 30px;
	width:100%;
	height: 20px;
	background:lightgrey;
	font-size: 18px;
	display:flex;
	justify-content: space-around;
	align-items:center;
}

.playing-panel>button{
	height:100%;
	padding: 10px;
	cursor:pointer;
	display:flex;
	justify-content:center;
	align-items:center;
}

.login-area{
	position:fixed;
	top:0;
	left:0;
	height:100%;
	width:100%;
	color:white;
	background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
	font-size: 20px;
}

.login-area>h2{
	margin-bottom: 40px;
	text-align:center;
	/* background:black; */
}

.login-area.hide{
	display:none;
}

.login-area>input{
	height: 40px;
	border-radius:48px;
	margin: 10px 0px;
	border:none;
	outline:none;
	padding:10px;
}

.login-area>button{
	margin-top: 10px;
	width: 100px;
	height: 30px;
	background:transparent;
	border-radius:5px;
	border: 1px solid white;
	cursor:pointer;
}

@media (max-width:700px){
	.panel-container{
		grid-template-columns: 1fr;
	}
	
	.panel-container{
	height: 85vh;
	width:95%;
	
}

	.music-area{
		/* background:red; */
		height:100%;
		width: 100%;
	}

	.music-area>img{
		height: 200px;
	}

	.song-display{
		height: 70px;
		width: 60%;
		margin-top: 20px;
		padding: 8px 20px 8px 20px;
	}


	.chatting-area{
		height:100%;
		width: 100%;
		display:flex;
		flex-direction:column;
		justify-content:center;
		align-items: center;
	}

	.message-box{
		width: 70%;
		height: 100px;
		margin-top: 15px;
	}


	.inputed-words{
		height: 40px;
		width: 70%;
		margin-top: 15px;
	}

	.chatting-area button{
		height: 30px;
		width: 150px;
	}
}

@media (max-width:500px){
	.chatting-area{
		/* height:70%; */
		width: 100%;
		display:flex;
		flex-direction:column;
		justify-content:center;
		align-items: center;
	}
	
	.music-area{}
	
	.song-display{
		width: 85%;
	}

	.message-box{
		width: 85%;
		height: 230px;
		margin-top: 10px;
	}


	.inputed-words{
		height: 40px;
		width: 80%;
		margin-top: 15px;
	}

	.chatting-area button{
		height: 30px;
		width: 150px;
	}
}